<div class="cart_title" >Su carrito de compras!!</div>
<td>Id del carrito<%= cart.id%></td>
<table>
<%= render(cart.line_items) %>
<tr class="total_line" >
<td colspan="2" >Total</td>
<td id="cart_total" class="total_cell" ><%= number_to_currency(cart.total_price) %></td>
</tr>
</table>
<%= button_to 'Vaciar carrito' , cart, :method => :delete,:confirm => 'Esta seguro?' %>