<h1>Listing session_line_items</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @session_line_items.each do |session_line_item| %>
  <tr>
    <td><%= link_to 'Show', session_line_item %></td>
    <td><%= link_to 'Edit', edit_session_line_item_path(session_line_item) %></td>
    <td><%= link_to 'Destroy', session_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session line item', new_session_line_item_path %>
