<h1>Listing session_carts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @session_carts.each do |session_cart| %>
  <tr>
    <td><%= link_to 'Show', session_cart %></td>
    <td><%= link_to 'Edit', edit_session_cart_path(session_cart) %></td>
    <td><%= link_to 'Destroy', session_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session cart', new_session_cart_path %>
